# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [2]:
my_series = pd.Series([4,8,15,16,23,42])
my_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [3]:
dat_fram = pd.DataFrame(
        {'Cups of coffee': [1, 2, 3, 4],
        'number of assignments': [2, 4, 6, 10]})
dat_fram

   Cups of coffee  number of assignments
0               1                      2
1               2                      4
2               3                      6
3               4                     10

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [16]:
student_names = ['Bernard', 'Pete', 'Joe', 'Elizabeth', 'Amy', 'Tom', 'Mike', 'Tulsi', 'Jay', 'Andrew']
dat_with_labl = pd.DataFrame(np.random.normal(0.85, 1, (10,5)), index = student_names,
                             columns = ('HW1', 'HW2', 'Exam1', 'HW3', 'Project'))
dat_with_labl

                HW1       HW2     Exam1       HW3   Project
Bernard    1.687899 -0.571047  0.621879 -0.066222  1.566122
Pete       1.179605  1.042898 -0.419672  1.981222  1.137531
Joe        2.364822  0.071749  1.108764  3.602911  0.168203
Elizabeth  1.366284 -0.768954 -1.316386  0.275482 -0.066217
Amy        2.659653  0.777882  1.492087  1.075289  2.219260
Tom        2.063208  0.152902  0.990127  0.868203 -0.099710
Mike       1.364865  0.453951  0.402351  0.261630  0.046196
Tulsi     -0.011346  2.790334  1.229262  0.195254  1.042761
Jay        0.298901 -0.360890  2.451236 -0.391186  0.290993
Andrew     2.110198 -0.819376  2.048478  0.126301  1.141490

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [20]:
iris_df = pd.read_csv("iris.csv")

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [22]:
iris_df.head(5)
iris_df.tail(5)
iris_df.sample(5)

dat_with_labl.head(5)
dat_with_labl.tail(5)
dat_with_labl.sample(5)

            HW1       HW2     Exam1       HW3   Project
Tulsi -0.011346  2.790334  1.229262  0.195254  1.042761
Joe    2.364822  0.071749  1.108764  3.602911  0.168203
Pete   1.179605  1.042898 -0.419672  1.981222  1.137531
Amy    2.659653  0.777882  1.492087  1.075289  2.219260
Mike   1.364865  0.453951  0.402351  0.261630  0.046196

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [25]:
iris_df.columns
iris_df.index
dat_with_labl.columns
dat_with_labl.index

Index(['Bernard', 'Pete', 'Joe', 'Elizabeth', 'Amy', 'Tom', 'Mike', 'Tulsi',
       'Jay', 'Andrew'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [27]:
pd.__version__
iris_new = iris_df.to_dict()
iris_new
dat_new = dat_with_labl.to_dict()
dat_new

{'HW1': {'Bernard': 1.687899490334722,
  'Pete': 1.179604505650257,
  'Joe': 2.3648222508582393,
  'Elizabeth': 1.3662843336325317,
  'Amy': 2.659653458596213,
  'Tom': 2.063208213741634,
  'Mike': 1.3648654390121873,
  'Tulsi': -0.011345690306135192,
  'Jay': 0.2989013688916543,
  'Andrew': 2.1101984088389516},
 'HW2': {'Bernard': -0.5710465604436129,
  'Pete': 1.0428980150587686,
  'Joe': 0.07174949978521794,
  'Elizabeth': -0.7689539482588884,
  'Amy': 0.7778821439643807,
  'Tom': 0.15290233700882283,
  'Mike': 0.45395075908245164,
  'Tulsi': 2.7903342777565623,
  'Jay': -0.36088979373731866,
  'Andrew': -0.8193764732274834},
 'Exam1': {'Bernard': 0.621879420330812,
  'Pete': -0.419671788905119,
  'Joe': 1.1087636220821975,
  'Elizabeth': -1.316386255921087,
  'Amy': 1.4920873244538368,
  'Tom': 0.9901269482786959,
  'Mike': 0.402350940603425,
  'Tulsi': 1.2292615507255675,
  'Jay': 2.451236425393097,
  'Andrew': 2.048478376052879},
 'HW3': {'Bernard': -0.06622234179415853,
  'Pete': 1.9812222911771928,
  'Joe': 3.602910859600761,
  'Elizabeth': 0.27548175235197847,
  'Amy': 1.0752889824794931,
  'Tom': 0.8682028426084197,
  'Mike': 0.26162998990256847,
  'Tulsi': 0.1952539056398631,
  'Jay': -0.3911857062338445,
  'Andrew': 0.12630111729646631},
 'Project': {'Bernard': 1.5661217501804736,
  'Pete': 1.1375314846811975,
  'Joe': 0.1682025587067154,
  'Elizabeth': -0.06621735137699092,
  'Amy': 2.219260309714007,
  'Tom': -0.09970977110226942,
  'Mike': 0.046196289196157925,
  'Tulsi': 1.042761448791071,
  'Jay': 0.2909930383336694,
  'Andrew': 1.1414895578426216}}

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [31]:
iris_df.loc[4:20]
iris_df.loc[4:20, ['sepal_width', 'petal_width']]
iris_df.at[5, 'sepal_width']

3.9

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [37]:
iris_df.iloc[6:7]
iris_df.iloc[4:8, :1]
iris_df.iat[8,4]

'setosa'

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [49]:
cond_1 = iris_df['petal_width'] > 2
cond_1
cond_2 = (iris_df['petal_length'] > 2) & (iris_df['sepal_length'] > 9)
cond_2

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool